body{
    background: url(https://bnetcmsus-a.akamaihd.net/cms/content_entry_media/5WBBJRIGAYIT1589912855897.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    height: 1000px;
}
.message{
    display: flex;
    flex-direction: column;
    top: 50%;
    text-align: center;
    background: rgb(255, 255, 255,0.3);
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
}
h1,h2,button{
    opacity: 1;
}
button{
    border-radius: 20px;
    height: 50px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    color: blueviolet;
}